@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
  font-family: 'Nerko One',cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
main{
  width: 80%;
  margin: auto;
}
.riga {
  margin: 30px;
}
.carta{
  display: inline-block;
  height: 150px;
  width: 120px;
  background-color: red;
  border-radius: 5px;
  margin: 0px 10px;
}
