@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
  font-family: 'Nerko One',cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
main{
  width: 80%;
  margin: auto;
}
.riga {
  margin: 30px;
}
.carta{
  display: inline-block;
  height: 150px;
  width: 120px;
  background-image: url(../img/pattern.png);
  background-size: contain;
  border-radius: 5px;
  margin: 0px 10px;
}
.carta:hover{
  background-color: white;
  background-size:contain;
  background-repeat:no-repeat;
}
.balloon:hover{
  background-image: url(../img/noun_air_balloon_3134741.png);
  content: "Balloon";
  color: red;
}
